@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;

}

body {
    background-color: black;
    color: white;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.logo img{
    
    width: 200px;
}
.home {
    padding: 10px;
}

.left {
    width: 25vw;
    padding: 10px;
    z-index: 100;
}

.right {
    width: 75vw;
    padding: 10px;
}

.home ul li {
    display: flex;
    gap: 15px;
    width: 14px;
    list-style: none;
    padding-top: 14px;

    font-weight: bold;
}

.heading {
    display: flex;
    gap: 15px;
    width: 100%;
    list-style: none;
    padding-top: 14px;
    padding: 23px 14px;
    font-weight: bold;
    align-items: center;
}

.heading img {
    width: 30px;

}

.library {
    min-height: 80vh;
    position: relative;
}

.footer {
    display: flex;
    font-size: 10px;
    gap: 13px;
    position: absolute;
    bottom: 0;
    padding: 10px;
}

.footer a {
    color: grey;
}

.header {
    display: none;
    
    justify-content: space-between;
    background-color: rgb(34, 34, 34);
    border-radius: 10px;

}

.header>* {
    padding: 20px;
}

.nav {
    display: flex;
    gap: 10px;
    align-items: center;
}

.nav img {
    width: 20px;
    height: 20px;

}

.right {
    margin: 15px 5px;
    position: relative;
}

.spotify-playlist {
    padding: 16px;

}

.cardcontainer {
    margin: 30px;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    overflow: auto;
    max-height: 70vh;
}

.playbtn {
    position: absolute;
    right: 20px;
    bottom: 130px;
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.5s ease-in-out;
    z-index: 0;
}

.cardcontainer .card:hover .playbtn {
    opacity: 1;
    transform: translateY(0px);
    

}

.card {
    position: relative;
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(34, 34, 34);
    transition: all 0.8s;
    overflow: hidden;

}

.card:hover {
    background-color: rgb(55, 59, 55);
    cursor: pointer;
}

.card>* {
    padding: 10px 0px;
}

.card img {
    width: 100%;
    object-fit: contain;
}

.buttons>* {
    margin: 0 12px;
}

.signupbtn {
    background-color: rgb(34, 34, 34);
    color: rgb(108, 108, 108);
    font-weight: bold;
    border: none;
    outline: none;
    font-size: 16px;
}

.signupbtn:hover {
    color: white;
    font-size: 17px;
    cursor: pointer;
}

.loginbtn {
    background-color: white;
    color: black;
    font-weight: bold;
    border: 1px solid white;
    outline: none;
    padding: 10px;
    border-radius: 20px;
    font-size: 16px;
    width: 78px;
    cursor: pointer;
}

.loginbtn:hover {
    font-weight: bolder;
    width: 80px;
}

.playbar {
    position: fixed;
    bottom: 30px;
    background-color: rgb(34, 34, 34);
    width: 60vw;
    height: 40px;
    display: flex;
    justify-content: center;
    align-self: center;
    padding: 12px;
    border-radius: 30px;
    z-index: 20;
}

.songbuttons {

    display: flex;
    gap: 10px;
    width: 70vw;
    justify-content: center;

}

.songlist ul {
    padding: 0 12px;
}

.songlist ul li {
    border: 3px solid white;
    border-radius: 10px;
    list-style-type: decimal;
    display: flex;
    justify-content: space-between;
    gap: 52px;
    cursor: pointer;
    margin: 5px 0px;
    padding: 12px 5px;
}

.playnow {
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;


}

.box {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 5px;
    align-items: center;
}

.songinfo {
    width: 250px;
}

.songtime {
    padding-right: 30px;
}

.songlist .info {
    width: 244px;
}

.songlist {
    height: 540px;
    overflow: auto;
    margin-bottom: 44px;
}

.seekbar {
    position: absolute;
    height: 8px;
    border-radius: 10px;
    background: white;
    width: 94%;
    bottom: 0px;
    margin: 6px;
    cursor: pointer;

}

.overed {
    position: absolute;
    height: 8px;
    border-radius: 10px;
    background: rgb(45, 110, 48);
    width: 0%;
    bottom: 0px;
    cursor: pointer;

}

.circle {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    bottom: -50%;
    left: -1%;
}

.songbuttons img {
    cursor: pointer;
    gap: 20px;
}

.abovebar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
    width: 94%;

}


.hamburger {
    cursor: pointer;
    display: none;
}

.close {
    display: none;
    position: absolute;
    right: 50px;
    top: 50px;
}


@media (max-width: 1550px) {
    .left {

        background-color: black;
        position: absolute;
        left: -120%;
        transition: all 0.5s;
        z-index: 1;
        width: 400px;
        margin: 0;
        padding: 0;

    }

    .right {
        width: 100vw;
        height: 100vh;
        padding: 10px;
        margin: 20px;
    }

    .playbar {
        width: 90vw;
    }

    .close {
        display: block;
    }

    .header{
        display: block;
    }
    .hamburger {
        display: block;
    }


}

@media (max-width:608px) {
    .card {
        width: 90vw;
    }

    .cardcontainer {
        margin: 5px;
        justify-content: center;
    }

    .right {
        margin: 0;
    }

    .abovebar {
        flex-direction: column;
        gap: 23px;
        align-items: center;
    }

    .playbar {
        width: 80vw;
        height: 120px;
        padding: 30px;
        

    }

    .songtime {
        padding-bottom: 15px;
    }

    .songinfo {
        font-size: 30px;
    }

    .songinfo,
    .songbuttons,
    .songtime {
        display: flex;
        justify-content: center;
        gap: 5px;
    }

    .hamburger {
        display: block;
    }
    .cardcontainer{
        margin-bottom: 30vh;
    }
    
}
